*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.header_left_item i{
color: #E9AD28;
}
nav{
    background-color: #1a1a1a;
}
nav a{
    
    color: white;
}
nav li{
    font-size: 23px;
}
.nav_link_active a{
    color: #E9AD28;
    
}
.nav_link a{
    transition: .4s;
}
.nav_link:hover a{
    color: #E9AD28;
}
.book_now button{
    font-size: 19px;
    letter-spacing: 2px;
}

.main_screen{
    background-image: url('../img/hero.jpg');
    padding: 145px 0 190px;
}
.sub_header{
    color: #E9AD28;
    letter-spacing: 4px;
    /* margin-bottom: 3rem; */
}
.main_header{
    font-size: 68px;
    font-weight: bolder;
    width: 60%;
    margin: auto;
}
.main_label{
    font-size: 20px;
}
.main_icon{
    color: #E9AD28;
}
input{
    outline: none;
}
.black_side button{
    background-color: #1a1a1a;
    color: white;
    font-size: 20px;
}