@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.container{
    width: 80%;
    margin: auto;
}
.topbar{
    background-color: #00796b;
    padding: .4rem 0;

}

.topbar_info{
    display: flex;
    justify-content: space-between;
}
.topbar_contact{
    display: flex;
    gap: 1rem;
}
.topbar_icons{
    display: flex;
    gap: 1rem;
    color: white;
}

header{
    background-color: #008374;
    padding: .5rem 0;
    position: sticky;
    top: 0;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    color: white;
}

.nav_menu{
    display: flex;
    gap: 2rem;
}
.nav_menu a{
    font-weight: bold;
    color: rgba(255, 255, 255, .5);
    transition: .5s;
}
.main{
    background-color:#008374 ;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.main .container{
    display: flex;
    align-items: center;
    gap: 9rem;
}

.main_text{
    color: white;
}
.main_text p{
    margin: 1rem 0;
}
.main_text h1{
    font-size: 3rem;
}
.main_btns{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
}
.main_btn_start a{
    padding: .6rem 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.main_btn_play i{
    margin-right: .5rem;
    border: 2px solid #fff;
    padding: .6rem;
    border-radius: 50%;
}
.box_content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #00b6a1;
    width: 23%;
    height: 13rem;
    flex-wrap: wrap;
    border-radius: .3rem;
    cursor: pointer;


}
.box_content i{
    font-size: 4rem;
}
.box_content p{
    font-size: 1.5rem;
    margin: 0 2rem;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 120px;
}
.nav_menu a:hover{
color: white;
}